
<div class="row">
    
    <div class="col-md-2 col-md-offset-5">
        
        <h1>Social Media App</h1>
        
        <br />

        <form class="form-horizontal">
            
            <div class="form-group">
                <label class="control-label" for="inputUsername">Username</label>
                <input class="form-control" type="text" id="inputUsername" placeholder="Username" ng-model="login.username" />
            </div>
            
            <div class="form-group">
                <label class="control-label" for="inputPassword">Password</label>
                <input class="form-control" type="text" id="inputPassword" placeholder="Password" ng-model="login.password" />

            </div>
            
            
            <div class="form-group">                
                <button class="btn btn-primary" type="submit" ng-click="login.userLogin()">Sign in</button>
            </div>

        </form>

    </div>
    
    

</div>